@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@700,40..300&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 15px;
}
body{
  background-image: url('images/bg-top.svg'), url('images/bg-bottom.svg');
  background-position: top right, bottom left; 
  background-repeat: no-repeat; 
  background-size: auto; 
  min-height: 100vh; 
  background-color: #F7F7FE;
}
.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.header {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6e728e;
}
h1 {
  font-size: 32px;
  margin-bottom: 40px;
}
h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.toggle-header {
  width: 239px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.toggle-btn {
  width: 56px;
  height: 32px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 50px;
  position: relative;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.toggle-btn:hover {
  cursor: pointer;
}
.circle {
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
/* Container for the boxes */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1050px;
}
/* Box Styling */
.box-Basic , .box-Master {
  background-color: white;
  width: 32%;
  max-width: 350px;
  padding-top: 30px;
  margin-top: 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.02);
}
.box-Professional {
    background:linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff; 
    width: 32%;
    max-width: 350px;
    padding-top: 54px;
    padding-bottom: 24px;
    margin-top: 6px;
    margin-bottom: 54px;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
  }
/* Price Styling */
.price {
    display: inline-flex; 
    align-items: center;
    font-weight: bold;
  margin-bottom: 20px;
  font-size: 72px; 
  color: #4A4D60;
}
.box-Professional .price{
  color: #fff;
}
.currency {
    font-size: 40px; 
    vertical-align: middle;
    margin-right: 5px;
  }
#price3 , #price2 , #price1
{
  font-size: 72px;
}
/* Description Styling */
.description {
  font-size: 14px;
  border-bottom: 1px solid rgba(110, 114, 142, 0.25);
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}
.box-Basic p.description:first-of-type,
.box-Master p.description:first-of-type {
  border-top: 1px solid rgba(110, 114, 142, 0.25); 
}

.box-Professional .description{
  border-color: rgba(255, 255, 255, 0.25);
  height: 1px;
  opacity: 0.25;
  margin: 20px auto;
}
.box-middle hr{
border-color: #fff;
}
.box-Professional p.description:first-of-type{
  border-top: 1px solid rgba(255, 255, 255, 0.25); 
}

/* Button Styling */
.btn {
  background:linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color:#fff;
  font-size: 13px;
  letter-spacing: 1.393px;
  width: 80%;
  max-width: 288px;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 32px;
} 
.box-Professional .btn{
  background:#fff;
  color: #6D72DE;
}
.btn:hover {
  background:inherit;
  color: inherit;
  border-color: currentColor;
  transition: background-color 0.3s;
}
.attribution {
  font-size: 11px; 
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  padding-bottom: 20px;
}
/* Responsive Design */
@media screen and (max-width: 1024px) and (min-width: 768px) 
{
  .box-Professional , .box-Master , .box-Basic {
    flex: 1 1 32%; 
}
.header {
  margin-top: 64px;
}
}
@media (max-width: 768px) {
  body{
  background-image: url('images/bg-top.svg');
  background-position: calc(100% + 170px) calc(0% - 40px); 
  background-repeat: no-repeat; 
  }
  .header {
    margin: 30px 5px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    width: 85%;
  }
  .box-Professional , .box-Master , .box-Basic {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .box-Professional {
    order: -1; 
}
}
/* Style for the button when selected */
#toggleBtn.active .circle {
  transform: translateX(24px);
}
